/**
 * https://dl2.dev - DL2 IT Services Ltd
 * Owlsome solutions. Owltstanding results.
 */

@import "../../styles/bootstrap";

.lorem {
  max-width: 540px;
  margin: 0 auto;
  padding: 5vh 0;
  text-align: center;
}
